### PlayFramework ###
# Ignore Play! working directory #
bin/
/db
.idea
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

/public

# Directorio app/
/app/filters
/app/controllers
/app/services
/app/views
/app/Module.scala